<li>
  <%= f.hidden_field :position %>
  <%= f.text_field :forename, :size => 10, :disabled => disabled %><%= f.text_field :lastname, :size => 15, :disabled => disabled %><%= f.text_field(:affiliation, :disabled => disabled) unless :affiliation.blank? %>
</li>